@font-face {
    font-family: Sablon Up;
    src: url("fonts/Sablon_Up/Sablon_Up_Regular.otf");
}

*{
    font-family: Sablon Up;
    box-sizing: border-box;
    text-transform: uppercase;
}

#title{
    color: black;
    font-size: 54px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px rgb(196, 206, 211);
    padding-top: 25px;
}

#logo{
    padding-top: 50px;
}

body{
    font-family: Sablon Up;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    letter-spacing: 2px;
}

#intro h1{
    color: black;
    font-size: 54px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px rgb(196, 206, 211);
    padding-top: 25px;
}

#intro h2{
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px rgb(196, 206, 211);
    padding-top: 25px;
}

#body h1{
    color: black;
    font-size: 54px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px white;
    padding-top: 25px;
    padding-right: 25px;
}

body h3{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    /*text-shadow: 2px 2px 0px rgb(196, 206, 211)*/;
    padding-top: 10px;
}

.box{
    background-color: rgb(196, 206, 211);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1250px;
    height: 700px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgb(196, 206, 211);
    opacity: 100%;
    transform: translateX(400%);
    transition: transform 1s ease;
    margin-bottom: 200px;
    padding-top: 25px;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}

.box h2{
    font-size: 50px;
    text-shadow: 2px 2px 3px black;
}

#intro{
    background-color: white;
}

div .tooltip{
    color: black;
    font-family: "Sablon Up";
    font-size: 15px;
    letter-spacing: 0.5px;
    background-color: white;
}


p{
    color: black;
    /*
    text-shadow: 2px 2px 0px rgb(196, 206, 211);
    */
    letter-spacing: 2px;
    padding-top: 20px;
    font-size: 20px;
    padding-right: 25px;
}

#bubble p{
    padding-left: 50px;
}

#lefttext{
    padding-left: 100px;
}

#scatter2text{
     padding-left: 25px;
     padding-right: 0px;
 }

#coach{
    width: 300px;
    height: 392px;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(196, 206, 211);
    border-style: solid;
}

.row-cols-3 img{
    width: 200px;
    height: 150px;
    border-width: 5px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(196, 206, 211);
    /*opacity: 0.75;*/
}

.col-7{
    padding-bottom: 20px;
}

#tool{
    padding-top: 30px;
}

#players{
    padding-bottom: 50px;
}

.success{
    font-size: 45px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px rgb(196, 206, 211);
}
